<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucmed.mbg.mapper.HosListJiangganMapper">
  <resultMap id="BaseResultMap" type="com.ucmed.mbg.model.HosListJianggan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hos_id" jdbcType="VARCHAR" property="hosId" />
    <result column="hos_name" jdbcType="VARCHAR" property="hosName" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hos_id, hos_name, picture
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hos_list_jianggan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hos_list_jianggan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ucmed.mbg.model.HosListJianggan">
    insert into hos_list_jianggan (id, hos_id, hos_name, 
      picture)
    values (#{id,jdbcType=INTEGER}, #{hosId,jdbcType=VARCHAR}, #{hosName,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ucmed.mbg.model.HosListJianggan">
    insert into hos_list_jianggan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hosId != null">
        hos_id,
      </if>
      <if test="hosName != null">
        hos_name,
      </if>
      <if test="picture != null">
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hosId != null">
        #{hosId,jdbcType=VARCHAR},
      </if>
      <if test="hosName != null">
        #{hosName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ucmed.mbg.model.HosListJianggan">
    update hos_list_jianggan
    <set>
      <if test="hosId != null">
        hos_id = #{hosId,jdbcType=VARCHAR},
      </if>
      <if test="hosName != null">
        hos_name = #{hosName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ucmed.mbg.model.HosListJianggan">
    update hos_list_jianggan
    set hos_id = #{hosId,jdbcType=VARCHAR},
      hos_name = #{hosName,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>